@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #ffffff;
  --brandcolor: #c6a55c;
  --customwhite: #f5eee7;
  --customblack: #14100c;
  --check: "#";
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brandcolor: var(--brandcolor);
  --color-customblack: var(--customblack);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-customwhite: var(--customwhite);

  --animate-bouncing: bouncing 1.8s ease-in-out infinite;
  @keyframes bouncing {
    0% {
      transform: translateY(-18px);
    }
    30% {
      transform: translateY(18px);
    }
    60% {
      transform: translateY(-8px);
    }
    100% {
      transform: translateY(8px);
    }
  }
}
@layer base {
  h4 {
    @apply uppercase text-sm font-semibold text-brandcolor;
  }
}
@layer utilities {
  .list-custom-check {
    list-style-type: var(--check);
  }
}
@layer component {
  .triangle {
    width: 0;
    height: 0;
    border-left: 30px solid white; /* Triangle color */
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100vw;
  width: 100%;
  overflow-x: hidden;
}
